#init-container{
	text-align:center;
	position:absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#btn-easy{
	width: 80px;
	margin-right: 50px;
}

#btn-hard{
	width: 80px;
	margin-left: 50px;
}

.question-block{
	margin-top: 20px;
}

.tagbtn{
	margin-left: 20px;
}

#btn-container{
	margin: 20px auto;
}

#btn-submit{
	display:block;
	margin: 40px auto;
	text-align:center;
}

#message{
	color: maroon;
}

.has-error{padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}
.error-feedback{padding: 20px;
    background-color: #f19d96; /* Light Red */
    margin-bottom: 15px;
}